.japumap-wrapper {
	margin: 1rem 0;
	padding: 0;
	width: 100%;
	height: 80vh;
	will-change: position, top, left;
	-webkit-transition: height 0.3s ease-in-out, width 0.3s ease-in-out, position 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease;
	-moz-transition: height 0.3s ease-in-out, width 0.3s ease-in-out, position 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease;
	transition: height 0.3s ease-in-out, width 0.3s ease-in-out, position 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease;
	z-index: 9999;
}
.fullscreen.japumap-wrapper {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
}
.japumap-iframe {
	box-sizing: border-box;
	width: 100%;
	height: 75vh;
	height: calc( 80vh - 50px);
	border: none;
	margin: 0;
	position: relative;
}
.fullscreen .japumap-iframe {
	height: 100vh;
	height: calc( 100vh - 50px);
}
.japumap-bottom-bar {
	background-color: #000;
	color: #ddd;
	font-size: 16px;
	width: 100%;
	height: 50px;
	padding: 4px 10px;
	position: relative;
	top:-12px;
}
.japumap-bottom-bar a {
	color: #ffa000;
}
#japumap-toggle-full-screen {
	color: #ffa000;
	line-height: 1;
    float: right;
}
.return-text {
	display:none;
}
.fullscreen .return-text {
	display:initial;
}
.fullscreen .toggle-full-screen-text {
	display: none;
}
@media only screen and (min-width: 600px) {
	.japumap-wrapper {
		height: 90vh;
	}
	.fullscreen.japumap-wrapper {
		height: 100vh;
	}
	.japumap-iframe {
		height: 90vh;
		height: calc( 90vh - 30px);
	}
	.fullscreen .japumap-iframe {
		height: 100vh;
		height: calc( 100vh - 30px);
	}
	.japumap-bottom-bar{
		height: 30px;
	}
}